<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <title>external mpld3 SVGs</title>
  <script type="text/javascript" src="static/js/animateCircle.js"></script>
  <script type="text/javascript" src="https://d3js.org/d3.v3.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script type="text/javascript" src="static/js/submit.js"></script>
  <script type="text/javascript" >
    var circle_x_src;
    var circle_y_src;
    var circle_x_dst;
    var circle_y_dst;
  </script>
</head>

<body>
  <form name="input_coords" action="javascript:submit()">
    <label for="src_x">source X (212.155699 ~ 968.644301)</label><br>
    <input id="src_x" type="text" name="src_x" value="{{ src_x }}"><br>
    <label for="src_y">source Y (103.68 ~ 768.96)</label><br>
    <input id="src_y" type="text" name="src_y" value="{{ src_y }}"><br>
    <label for="dst_x">Destination X (212.155699 ~ 968.644301)</label><br>
    <input id="dst_x" type="text" name="dst_x" value="{{ dst_x }}"><br>
    <label for="dst_y">Destination Y (103.68 ~ 768.96)</label><br>
    <input id="dst_y" type="text" name="dst_y" value="{{ dst_y }}"><br>
    <input id="submit" type="submit" value="Submit"><br><br>
    <button type="button" id="init"> Init </button>
    <button type="button" id="start"> Start </button>
  </form>
  <object id="map" data="static/images/lund-map.svg" type="image/svg+xml" ></object>
  <script type="text/javascript" src="static/js/load.js"></script>
  <script type="text/javascript" src="static/js/moveDrone.js"></script>
</body></html>
