<!DOCTYPE html>
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>d3.js and external SVGs</title>
    <meta name="viewport" content="width=device-width">
  <body>

<svg></svg>
<div class="post">
<div id="atom"></div>

<style type="text/css">

#atom svg {
  height: 380px;
  width: 280px;
  margin: 0 auto;
  display: block;
}

</style>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="https://d3js.org/d3.v3.min.js"></script>
<script type="text/javascript" src="static/js/simple.js"></script>
</body></html>
